<div class="container">
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <app-server-element *ngFor="let serverElement of serverElements"
     [srvElement]="serverElement"
     [name]="serverElement.name">
     <p #contentParagraph>
      <strong *ngIf="serverElement.type==='server'" style="color:red">{{serverElement.content}}</strong>
      <em *ngIf="serverElement.type==='blueprint'">{{serverElement.content}}</em>
  </p>
    </app-server-element>
  
    </div>
  </div>
</div><hr><br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (evenEvent)="onEvenNumber($event)"
(oddEvent)="onOddNumber($event)"></app-game-control>

<h3>odd</h3>
<app-odd *ngFor="let o of odd" [odd]="o"></app-odd>
<h3>even</h3>
<app-even *ngFor="let e of even"[even]="e"></app-even>
    </div>
  </div>
</div>


